<plist>
<dict>
	<key>meson-gxl</key>
	<array>
		<dict>
			<key>board-name</key>
			<string>libretech-cc</string>
			<key>description</key>
			<string>Libre Computer Board AML-S905X-CC</string>
		</dict>
	</array>
	<key>rk3328</key>
	<array>
		<dict>
			<key>board-name</key>
			<string>rock64</string>
			<key>description</key>
			<string>Pine64 Rock64</string>
		</dict>
	</array>
	<key>rk3399</key>
	<array>
		<dict>
			<key>board-name</key>
			<string>rockpro64</string>
			<key>description</key>
			<string>Pine64 RockPro64</string>
		</dict>
	</array>
	<key>sunxi</key>
	<array>
		<dict>
			<key>board-name</key>
			<string>orangepi-pc2</string>
			<key>description</key>
			<string>Xunlong Orange Pi PC 2</string>
		</dict>
		<dict>
			<key>board-name</key>
			<string>orangepi-prime</string>
			<key>description</key>
			<string>Xunlong Orange Pi Prime</string>
		</dict>
		<dict>
			<key>board-name</key>
			<string>orangepi-zero-plus</string>
			<key>description</key>
			<string>Xunlong Orange Pi Zero Plus</string>
		</dict>
		<dict>
			<key>board-name</key>
			<string>orangepi-zero-plus2</string>
			<key>description</key>
			<string>Xunlong Orange Pi Zero Plus 2</string>
		</dict>
		<dict>
			<key>board-name</key>
			<string>pine64</string>
			<key>description</key>
			<string>Pine64</string>
		</dict>
		<dict>
			<key>board-name</key>
			<string>pine64-plus</string>
			<key>description</key>
			<string>Pine64+</string>
		</dict>
		<dict>
			<key>board-name</key>
			<string>pinebook</string>
			<key>description</key>
			<string>Pinebook</string>
		</dict>
		<dict>
			<key>board-name</key>
			<string>sopine-baseboard</string>
			<key>description</key>
			<string>SoPine with baseboard</string>
		</dict>
	</array>
</dict>
</plist>
